body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Card {
  padding: 20px;
}

html {
  margin: 0 2rem 0 2rem;
}

.addPost {
  margin: 1rem;
}

.blogTitle .blogContent {
  margin: 1rem;
}

.title {
  font-weight: bold;
}

.content-display-toolbar {
  height: 0;
}